n8n/daily_summary.json
{
  "name": "Daily Summary Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "schedule-trigger",
      "name": "Daily at 6 PM"
    },
    {
      "parameters": {
        "url": "http://fastapi:8000/leads",
        "method": "GET",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        300
      ],
      "id": "get-leads",
      "name": "GET /leads"
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nlet connected = 0;\nlet noAnswer = 0;\nlet busy = 0;\nlet failed = 0;\nlet hot = 0;\nlet warm = 0;\nlet cold = 0;\nlet meetings = 0;\n\nleads.forEach(item => {\n  const status = item.json['Call Status'];\n  const qual = item.json['Lead Qualification'];\n  const meeting = item.json['Meeting Date & Time'];\n\n  if (status === 'Connected' || status === 'Completed') connected++;\n  else if (status === 'No Answer') noAnswer++;\n  else if (status === 'Busy') busy++;\n  else if (status === 'Failed') failed++;\n\n  if (qual === 'Hot') hot++;\n  else if (qual === 'Warm') warm++;\n  else if (qual === 'Cold') cold++;\n\n  if (meeting && meeting !== 'nan' && meeting.toString().trim() !== '') meetings++;\n});\n\nreturn [{\n  json: {\n    total_leads: leads.length,\n    connected,\n    no_answer: noAnswer,\n    busy,\n    failed,\n    hot_leads: hot,\n    warm_leads: warm,\n    cold_leads: cold,\n    meetings_booked: meetings,\n    report_date: new Date().toLocaleDateString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "aggregate-results",
      "name": "Aggregate CRM Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/notifications/email",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "manager@company.com"
            },
            {
              "name": "subject",
              "value": "=Daily Voice Agent Performance Summary: {{ $json[\"report_date\"] }}"
            },
            {
              "name": "message",
              "value": "=Daily Voice Agent Performance Report:\n\nTotal CRM Leads: {{ $json[\"total_leads\"] }}\nConnected/Completed Calls: {{ $json[\"connected\"] }}\nNo Answer: {{ $json[\"no_answer\"] }}\nBusy Lines: {{ $json[\"busy\"] }}\nFailed Calls: {{ $json[\"failed\"] }}\n\nLead Qualification Breakdown:\n- Hot: {{ $json[\"hot_leads\"] }}\n- Warm: {{ $json[\"warm_leads\"] }}\n- Cold: {{ $json[\"cold_leads\"] }}\n\nMeetings Booked Today: {{ $json[\"meetings_booked\"] }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        300
      ],
      "id": "send-daily-report",
      "name": "Send Daily Report"
    }
  ],
  "connections": {
    "Daily at 6 PM": {
      "main": [
        [
          {
            "node": "GET /leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /leads": {
      "main": [
        [
          {
            "node": "Aggregate CRM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate CRM Data": {
      "main": [
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "daily-summary-wf"
}
