n8n/lead_scheduler.json
{
  "name": "Lead Scheduler Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "schedule-trigger",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "url": "http://fastapi:8000/leads/pending",
        "method": "GET",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        300
      ],
      "id": "get-pending-leads",
      "name": "GET /leads/pending"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "id": "split-leads",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/calls/start",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json[\"Lead ID\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        300
      ],
      "id": "post-start-call",
      "name": "POST /calls/start"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "GET /leads/pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /leads/pending": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "POST /calls/start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "lead-scheduler-wf"
}
