n8n/meeting_reminder.json
{
  "name": "Meeting Reminder Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "schedule-trigger",
      "name": "Daily at 9 AM"
    },
    {
      "parameters": {
        "url": "http://fastapi:8000/leads",
        "method": "GET",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        300
      ],
      "id": "get-leads",
      "name": "GET /leads"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst tomorrowStr = tomorrow.toISOString().split('T')[0];\n\nconst meetingDate = $input.item.json['Meeting Date & Time'];\nif (meetingDate && meetingDate.toString().startsWith(tomorrowStr)) {\n  return $input.item;\n}\nreturn null;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "filter-tomorrow",
      "name": "Meeting Tomorrow?"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "split-leads",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/notifications/email",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json[\"Email\"] }}"
            },
            {
              "name": "subject",
              "value": "Meeting Reminder: Tomorrow"
            },
            {
              "name": "message",
              "value": "=Hi {{ $json[\"Name\"] }}, this is a reminder that we have a meeting scheduled for tomorrow ({{ $json[\"Meeting Date & Time\"] }})."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        200
      ],
      "id": "send-email",
      "name": "Send Email Reminder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/notifications/whatsapp",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Split in Batches').item.json[\"Phone\"] }}"
            },
            {
              "name": "message",
              "value": "=Hi {{ $('Split in Batches').item.json[\"Name\"] }}, this is a reminder for our meeting scheduled tomorrow at {{ $('Split in Batches').item.json[\"Meeting Date & Time\"] }}."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        200
      ],
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reminder"
    }
  ],
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "GET /leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /leads": {
      "main": [
        [
          {
            "node": "Meeting Tomorrow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Tomorrow?": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reminder": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "meeting-reminder-wf"
}
