n8n/retry_calls.json
{
  "name": "Retry Calls Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "schedule-trigger",
      "name": "Every 15 Minutes"
    },
    {
      "parameters": {
        "url": "http://fastapi:8000/leads",
        "method": "GET",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        300
      ],
      "id": "get-leads",
      "name": "GET /leads"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const callStatus = $input.item.json['Call Status'];\nconst retryCount = parseInt($input.item.json['Retry Count']) || 0;\nconst retriableStatuses = ['No Answer', 'Busy', 'Failed'];\n\nif (retriableStatuses.includes(callStatus) && retryCount < 3) {\n  return $input.item;\n}\nreturn null;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "filter-retry",
      "name": "Should Retry?"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "split-leads",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/calls/start",
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $json[\"Lead ID\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        900,
        300
      ],
      "id": "post-start-call",
      "name": "POST /calls/start"
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "GET /leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /leads": {
      "main": [
        [
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry?": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "POST /calls/start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "retry-calls-wf"
}
